/* .top-nav {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .top-nav-left,
  .top-nav-right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .topIcon {
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
  }
  
  .top-nav-center {
    flex: 6;
  }
  
  .top-nav-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .top-nav-list-item {
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
  }
  
  .top-list-item:hover{
      color: gray;
  }
  
  .top-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }
  
  .topSearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
  } */



  .top-nav {
    width: 100%;
    height: 50px;
    background-color: white;
  }


  .top-nav-left{
    flex: 5;
    align-items: left;
    /* justify-content: center; */
  }

  .top-nav-right {
    flex: 5;
    align-items: right;
    /* justify-content: center; */
  }
  .top-nav-list-item:hover {
    border-radius:1rem;
  }

  .top-search-icon{
  font-size: 18px;
  color: #666;
  cursor: pointer;
  margin-top: 1rem;
  }

/* 
  .top-nav-center {
    flex: 6;
    align-items: center;
    justify-content: center;
  } */
  